<div class="modal" id="contact-modal">
    <div class="modal_content">

        <form class="form" action="/" method="post">
            <div class="form_group form_group--md">
                <input type="text" class="form_control" placeholder="Ваше имя">
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <input type="text" class="form_control" placeholder="Ваш e-mail">
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <textarea class="form_control form_control--textarea" name="" placeholder="Текст сообщения"></textarea>
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
            </div>
        </form>

        <button class="modal_close" type="button">
            <img src="../img/cancel.svg" alt="Закрыть">
        </button>

        <ul class="modal_footer">
            <li>
                e-mail: <a href="mailto:d1demond1@gmail.com">d1demond1@gmail.com</a>
            </li>
            <li>
                Телефон: <a href="tel:+79024155840">+7 902 415-58-40</a>
            </li>
        </ul>
    </div> <!-- /.modal_content -->
</div> <!-- /.modal -->