<div class="modal" id="share">
    <div class="modal_content modal_content--contact">

        <ul class="social">
            <li class="social_item">
                <a href="#" class="social_link">
                    <img src="../img/share/facebook.svg">
                </a>
            </li>

            <li class="social_item">
                <a href="#" class="social_link">
                    <img src="../img/share/twitter.svg">
                </a>
            </li>

            <li class="social_item">
                <a href="#" class="social_link">
                    <img src="../img/share/vk.svg">
                </a>
            </li>

            <li class="social_item">
                <a href="#" class="social_link">
                    <img src="../img/share/copy.svg">
                </a>
            </li>
        </ul>

        <button class="modal_close" type="button">
            <img src="../img/cancel.svg" alt="Закрыть">
        </button>

    </div> <!-- /.modal_content -->
</div> <!-- /.modal -->