.related {
  padding: 3rem 0 .5rem;

  border-bottom: 1px solid #1c1c1c;

}

.related_list {
  display: flex;
  flex-wrap: wrap;
}

.related_list_item {
  width: 50%;
  margin-bottom: 2.5rem;

  @include breakpoint($mobile-bp) {
    width: 100%;
  }
}

.related_list_title {
  padding-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.4rem;
  color: #F3EBA2;
  font-weight: 500;
}

.related_list_date {
  font-size: 1.2rem;
  color: #828282;
}