.sidebar {
  width: 300px;
  height: 100vh;

  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, .1);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transition: transform linear .2s;

  @include breakpoint($tablet-bp) {
    display: flex;
    flex-direction: column;

    padding-bottom: 2rem;
    overflow: auto;

    top: 4rem;
    height: calc(100vh - 4rem);
    transform: translateX(-100%);

    .show-sidebar & {
      transform: translateX(0);
    }
  }
}

.sidebar_header {
  height: 180px;
  background-color: $secondary;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($tablet-bp) {
    height: 10rem;
  }
}

.sidebar_content {
  padding: 0 2rem;
  margin-top: -5rem;

  @include breakpoint($tablet-bp) {
    flex-grow: 1;
  }
}

.profile {
  margin-top: -5rem;

  @include breakpoint($tablet-bp) {
    margin-top: 4rem;

    position: relative;
  }
}

.profile_avatar {
  display: block;
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 2rem;

  border: 2px solid $white;
  box-shadow: 0 7px 20px rgba(#000000, .25);
  border-radius: 50%;

  @include breakpoint($tablet-bp) {
    width: 6.5rem;
    height: 6.5rem;

    position: absolute;
    left: 0;
  }
}

.profile_header {
  margin-bottom: 2rem;

  text-align: center;

  @include breakpoint($tablet-bp) {
    padding-top: 1rem;
    padding-left: 8rem;
    text-align: left;
  }
}

.profile_name {
  font-size: 1.8rem;

  @include breakpoint($tablet-bp) {
    font-size: 1.5rem;
  }
}

.profile_prof {
  font-size: 1.4rem;
  font-width: 300;
  color: #dedede;

  @include breakpoint($tablet-bp) {
    font-size: 1.2rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  padding: 0 ;

  @include breakpoint($tablet-bp) {
    display: none;
  }
}

.social_item {
  margin: 0 .75rem;
}

.profile_text {
  padding: 3rem 0;
  margin: 3rem 0;

  font-size: 1.2rem;
  text-align: center;

  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;

  @include breakpoint($tablet-bp) {
    display: none;
  }
}

.sidebar_footer {
  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
}


